
name : Install Python Test

jobs :
  install_python_job:
    runs-on : ubuntu-latest
    name : A job to Install python

    steps :
      - uses : actions/checkout@v4

      - name : Run-Install
        run  : |
          /bin/bash -xue install-python.sh 3.5.0 env
        shell : bash

      - name : Check
        run  : |
          pwd
          ls -alR env
          env/python-3.5.0/bin/python3 --version
        shell : bash

on :
  push :
    branches : [ "master", "develop" ]
